#cadastro-produto{
    background-color: #F95F62;
    width: 60%;
    height: 500px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 10%;
    border-radius:30px;
    padding: 30px; 
    color: white;
}